@font-face {
  font-family: 'bettins';
  src: url(/fonts/BettinsPersonalUse-ywPem.ttf);
}
@font-face {
  font-family: 'city';
  src: url(/fonts/BrusselsCityPersonalUsed-L3Lon.otf);
}
@font-face {
  font-family: 'love';
  src: url(/fonts/LoveRabbitPersonalUse-lgRaZ.ttf);
}

h1{
  font-size: 45px;
  background: -webkit-linear-gradient(rgb(16, 102, 172), rgb(206, 206, 206));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body{
  font-family: 'city', sans-serif;
  font-size: 20px;  color: red;
  font-weight: 500; font-style: normal;
  background-color: black;
  background-image: url(/img/back.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
  margin: 0%;
  padding: 0%;
}



nav{
  position: relative;
  margin: 10px auto 0;
  width: 10000px;
  height: 50px;
  background-color: rgb(51, 48, 48);
  border-radius: 5px;
}
nav a{
  font-size: 30px;
  text-transform: uppercase;
  color: whitesmoke;
  text-decoration: dotted;
  line-height: 50px;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
}
nav .animation{
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  background: red;
  border-radius: 5px;
  transition: all 244ms ease 0s;

}
a:nth-child(1){
  width: 100px;
}
nav .nav-home,a:nth-child(1):hover~.animation{
  width: 100px;
  left: 1px;

}
a:nth-child(2){
  width: 100px;
}

nav .nav-about,a:nth-child(2):hover~.animation{
  width: 110px;
  left: 101px;

}
footer{
  color: rgb(5, 219, 235);
  font-family: 'bettins';
  font-style: italic;
  text-align: center;
}